@font-face {
  font-family: 'Inter';
  src: url(../fonts/Inter-VariableFont_wght.ttf);
}

@font-face {
  font-family: 'Maven Pro';
  src: url(../fonts/MavenPro-VariableFont_wght.ttf);
}

.body--light {
  color: #43547E;
  background-color: #F6F8F9;
}